@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/* RESERT INITIAL CONFIGS */
* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

/* BODY */
body{
  max-width: 375px;
  background-color: hsl(30, 38%, 92%);
  margin: 45px;
}

/* FIRST CONTENT */
#firstDiv {
  background-color: white;
  max-width: 300px;
  height: 500px;
  border-radius: 9px;
  flex-wrap: wrap;
}

#products_img {
  width: 300px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.opacity {
  opacity: 0.5;
  font-size: 18px;
}

#secondDiv {
  padding: 9px;

}

#p1 {
  font-family: "Fraunces", Serif;
  font-size: 34px;
  color: hsl(158, 36%, 37%);
}

#p2 {
  text-decoration: line-through;
}

#thirdDiv {
  padding: 9px;
}

#fourthDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#fifthDiv {
  padding: 9px;
}

#button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 9px;
  height: 32px;
  color: white;
  font-size: 18px;
  width: 230px;
}

/* SECOND CONTENT */
#credits {
  text-align: center;
}

#hr {
  margin: 32px
}